---
layout: default
---

{% assign section = site.data.data-sections | where: "header", page.section %}

<header>
  <h1>{{ page.title }}</h1>

  <div class="abstract">
    {{ section.description }}
  </div>

  <nav class="index-links">
    <h2>In this section</h2>
    <ul>
    {% for child in section.first.children %}
      <li><a href="#{{ child.header | slugify }}">{{ child.header }}</a></li>
    {% endfor %}
    </ul>
  </nav>

</header>

{{ content }}

{% for child in section.first.children %}
  {% assign section_filename = child.header | slugify | append: ".md" %}
  {% capture section_path %}_{{ page.collection }}/{{ page.section | slugify }}/{% endcapture %}
  {% capture section_filename_exists %}{% file_exists {{ section_filename | prepend: section_path }} %}{% endcapture %}

  <h2 id="{{ child.header | slugify }}">{{ child.header }}</h2>

  {% if section_filename_exists == "true" %}
    {% capture section_filename_contents %}{% include_relative {{ section_filename }} %}{% endcapture %}
    {{ section_filename_contents | markdownify }}
  {% endif %}

  {% unless child.markup == "" %}

  {% include guide_example.html
    title=child.header
    markup=child.markup
    sourceFile=child.sourceFile.path
    sourceLine=child.sourceFile.line %}
    
    {{ child.description }}

  {% endunless %}

{% endfor %}
