---
layout: default
---

{% assign section = site.data.data-sections | where: "header", page.section %}

<header>
  <h1>{{ page.title }}</h1>

  <nav class="index-links">
    <h2>In this section</h2>
    <ul>
      <li><a href="#overview">Overview</a></li>

    {% for child in section.first.children %}
      <li><a href="#{{ child.header | slugify }}">{{ child.header }}</a></li>
    {% endfor %}
    </ul>
  </nav>

  {{ section.description }}

  {% if child.tags %}
  <dl>
    <dt>Tags:</dt>
    {% for tags in child.tags %}
    {% assign tag_list = tags | split: ", " | sort %}
    {% for tag in tag_list %}

    <dd>{{ tag }}</dd>
    {% endfor %}
    {% endfor %}
  </dl>
  {% endif %}

</header>

{{ content }}

{% for child in section.first.children %}
  {% assign section_header = child.header | slugify %}
  {% assign section_filename = section_header | append: ".md" %}
  {% capture section_path %}_{{ page.collection }}/{{ page.section | slugify }}/{% endcapture %}
  {% capture section_filename_exists %}{% file_exists {{ section_filename | prepend: section_path }} %}{% endcapture %}

  <h2 id="{{ child.header | slugify }}">{{ child.header }}</h2>
  {{ child.description }}

  {% if section_filename_exists == "true" %}
    {% capture section_filename_contents %}{% include_relative {{ section_filename }} %}{% endcapture %}
    {{ section_filename_contents | markdownify }}
  {% endif %}

  {% unless child.markup == "" %}

  <div class="guide-example">
    <h3 class="guide-example--heading">
      <span>Rendered example:</span> {{ child.header }}
    </h3>

    <div class="guide-example--rendered">
      {% include {{ child.markup }} %}
    </div>

    <h3 class="guide-example--heading">
      <span><abbr>HTML</abbr>:</span> {{ child.header }}
    </h3>

    <div class="guide-example--code">
      {% highlight html %}
      {% include {{ child.markup }} %}
      {% endhighlight %}
    </div>

    <cite class="guide-example--cite">
      Stylesheet source on GitHub:
      <a href="
        https://github.com/AusDTO/gov-au-ui-kit/tree/master/{{ child.sourceFile.path }}#L{{ child.sourceFile.line }}"
        rel="external"><code>{{ child.sourceFile.name }}</code></a>, line {{ child.sourceFile.line }}
    </cite>
  </div>

  {% endunless %}
{% endfor %}
