---
layout: default
---

<header>
  <h1><span style="font-size:0.5em; color:#6f777b;">DTA Design Guide</span><br />
  <span>{{ page.title }}</span></h1>
</header>

{{ content }}

<ul>
{% for collection in site.collections %}
  {% if collection.label == page.collection %}

    {% for doc in collection.docs %}
      {% unless doc.layout == "collections/overview" %}
  <li>
    <a href="{{ doc.url }}">{{ doc.title }}</a>
  </li>
      {% endunless %}
    {% endfor %}
    {% break %}
  {% endif %}
{% endfor %}
</ul>
