<footer role="contentinfo">
  <div class="wrapper">
    {% include feedback.liquid %}
    <section>
      <div class="footer-logo">
        {% img coat-of-arms.png alt:'Australian Government Coat of Arms' width:auto height:auto %}
      </div>
      <div class="footer-links">
        <nav>
          <ul>
            <li>
              <svg class="icon-inline fa-envelope-o" role="img" title="envelope email icon">
                <use xlink:href="/assets/spritesheet.svg#fa-envelope-o"/>
              </svg>
              <a href="mailto:guides@digital.gov.au">Email the Guides team</a>
            </li>
            <!-- <li><a href="https://www.dta.gov.au/privacy-statement/" rel="external">Privacy Statement</a></li> -->
          </ul>
        </nav>

        <p>This version of the Design Guide documents UI-Kit version <code>{% uikit_version %}</code>.</p>
        <p>
          <img src="https://circleci.com/gh/AusDTO/gov-au-ui-kit.svg?style=shield" alt="CircleCI build status">
          <img src="https://img.shields.io/badge/license-MIT-brightgreen.svg" alt="MIT licensed">
          <img src="https://img.shields.io/github/release/AusDTO/gov-au-ui-kit.svg?maxAge=2592000" alt="Current release version {% uikit_version %}">
        </p>

        <p>&copy; Commonwealth of Australia, <a href="{{ site.github_url }}/blob/master/LICENSE.md" rel="external license">licensed under the MIT License.</a></p>

        <p><a href="#">Back to top &uarr;</a></p>
      </div>
    </section>
  </div>
</footer>
