<footer role="contentinfo">
  <div class="wrapper">
    {% include feedback.liquid %}
    <section>
      <div class="footer-logo">
        {% img coat-of-arms.png alt:'Australian Government Coat of Arms' width:auto height:auto %}
      </div>
      <div class="footer-links">
        <nav>
          <ul>
            <li>
              <svg class="icon-inline fa-envelope-o" role="img" title="envelope email icon">
                <use xlink:href="{{ site.baseurl }}/assets/spritesheet.svg#fa-envelope-o"/>
              </svg>
              <a href="mailto:guides@digital.gov.au">Email the Guides team</a>
            </li>
            <!-- <li><a href="https://www.dta.gov.au/privacy-statement/" rel="external">Privacy Statement</a></li> -->
          </ul>
        </nav>

        <p>
          This version of the Design Guide documents
          <a class="footer-link" href="https://github.com/AusDTO/gov-au-ui-kit/releases" rel="external">UI-Kit version <code>{% uikit_version %}</code></a>.
        </p>

        <p>
          <svg class="icon-inline fa-github" role="img" title="GitHub icon" aria-labelledby="fa-github-alt-source">
            <title id="fa-github-alt-source" lang="en">Github icon</title>
            <use xlink:href="{{ site.baseurl }}/assets/spritesheet.svg#fa-github"/>
          </svg>

          <a class="footer-link" href="https://github.com/AusDTO/gov-au-ui-kit/releases" rel="external">
            DTA Design Guide on GitHub
          </a>
        </p>

        <p>
          &copy; Commonwealth of Australia,
          <a href="{{ site.github_url }}/blob/master/LICENSE.md" rel="external license">licensed under the MIT License</a>.
        </p>

        <p><a href="#">Back to top &uarr;</a></p>
      </div>
    </section>
  </div>
</footer>
