<details open data-label="{{ include.ID | slugify }}-guidance-accordion" aria-expanded="true">
  <summary>Guidance<span class="visuallyhidden"> for {{ include.ID }}</span></summary>
  <div class="accordion-panel">
    {{ include.content | markdownify }}
  </div>
</details>
