<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% unless page.url == '/' %} - DTA Design Guide{% endunless %}</title>
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% css main %}

  {% css syntax.light %}

  {% include uikit_scripts.liquid %}
  {% js ui-kit.min %}
  {% js clipboard.min %}

  {% js svg4everybody.legacy.min %}
  <script>svg4everybody();</script>

  {% js modernizr-svg-setclasses.min %}

  {% include google_fonts.liquid %}
  {% include google_analytics.liquid %}
</head>
