{% include templates/skip-link.html %}

<header role="banner">
  <section class="govau--header">
    <div class="wrapper">
      <div class="govau--logo">
        <a href="/" class="logo">{{ site.title }}</a> <span class="badge--default">beta</span>
      </div>
      <div class="feedback">
        <a href="{{ site.github_url }}/issues/new" class="button--feedback" role="button">Give feedback</a>
      </div>
    </div>
  </section>
  {% if page.url == '/' %}
  <section class="hero">
    <div class="wrapper">
      <p class="tagline">{{ site.description }}</p>
      <p>Documents UI-Kit release: v{% uikit_version %}</p>
      <p>Last updated: <time datetime="{{ site.time }}">{{ site.time | date: "%e %B %Y" }}</time></p>
    </div>
  </section>
  {% endif %}
</header>
