<nav id="nav" class="local-nav" aria-label="main navigation">
  <ul>
    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    {% assign pages = site.pages | where: "layout", "page" %}
    {% for page in pages %}
    <li>
      <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    </li>
    {% endfor %}

    {% for collection in site.collections %}
      {% capture label %}{{ collection.label }}{% endcapture %}
      {% if label == "posts" %}
        {% continue %}
      {% endif %}

      <li>
        <a href="{{ site.baseurl }}/{{ label }}/index.html">{{ label | capitalize }}</a>
      </li>
    {% endfor %}

    <li><span class="placeholder-link">Components</span>
      <ul>
      {% for section in site.data.data-sections %}
        {% unless section.referenceNumber contains '.' %}
          {% unless section.collection %}
          <li>
            <a href="{{ site.baseurl }}/sections/{{ section.header | slugify }}.html">{{ section.header }}</a>
          </li>
          {% endunless %}
        {% endunless %}
      {% endfor %}
      </ul>
    </li>

  </ul>
</nav>
