<nav id="nav" class="local-nav" aria-label="category navigation">
  <ul>
    <li>
      {% comment %}
        Build current URL
      {% endcomment %}
      {% capture thisURL %}/{{ page.parent }}/index.html{% endcapture %}

      <a href="{{ thisURL }}"{% if thisURL == page.url %} class="is-active"{% endif %}>
        Overview
      </a>
    </li>

    {% comment %}
      Page sections as ordered inherited from our config file _config.yml
    {% endcomment %}
    {% for page_section in page.children %}
      {% capture thisURL %}/{{ page.parent}}/{{ page_section.folder }}/index.html{% endcapture %}
      <li>
        <a href="{{ thisURL }}/"{% if thisURL == page.url %} class="is-active"{% endif %}>
          {{ page_section.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>
