<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.liquid %}

  <body>

  {% include header.liquid %}

    <main role="main">

      {% comment %}
      The aside sidebar that holds the site’s local-nav.

      Logic: only show if it isn’t the homepage.
      {% endcomment %}
      {% if page.url != '/' %}
        <aside class="sidebar">
          {% include local_nav.liquid %}
        </aside>
      {% endif %}

      {% if page.url == '/' %}
        {{ content }}
      {% elsif page.url contains '/' and page.url != '/' %}
        <article id="content" class="content-main">
          {{ content }}
        </article>
      {% else %}
      {% endif %}

    </main>

  {% include footer.liquid %}

  </body>

</html>
