---
layout: default
---

<main role="main">

  <aside class="sidebar">
    {% include local_nav.liquid %}
  </aside>

  <article id="content" class="content-main">
    {{ content }}
  </article>

</main>
