---
layout: default
---

{% for section in site.data.data-sections %}
  {% unless section.referenceNumber contains '.' %}
    {% capture section_name %}{{ section.header }}{% endcapture %}
  {% endunless %}

  {% if section_name == page.header %}
    {% assign section_title = page.header %}
  {% endif %}
{% endfor %}

<header>
  <h1>{{ section_title }}</h1>

  <nav class="index-links">
    <h2>In this section</h2>
    <ul>
    {% for section in site.data.data-sections %}
      {% if section_title == section.header %}
        {% for child in section.children %}

      <li><a href="/sections/{{ section.header | slugify }}.html#{{ child.header | slugify }}">{{ child.header }}</a></li>

        {% endfor %}
      {% endif %}
    {% endfor %}
    </ul>
  </nav>

  {{ page.description }}

</header>

{% for section in site.data.data-sections %}
  {% if section_title == section.header %}
    {% for child in section.children %}

<h2 id="{{ child.header | slugify }}">{{ child.header }}</h2>

{{ child.description }}

      {% unless child.markup == "" %}

<div class="guide-example">
  <h3 class="guide-example--heading">
    <span>Rendered example:</span> {{ child.header }}
  </h3>

    <div class="guide-example--rendered">
  {% include {{ child.markup }} %}
    </div>

  <h3 class="guide-example--heading">
    <span><abbr>HTML</abbr>:</span> {{ child.header }}
  </h3>

  <div class="guide-example--code">
    {% highlight html %}
{% include {{ child.markup }} %}
  {% endhighlight %}
  </div>

  <cite class="guide-example--cite">
    Stylesheet source on GitHub:
    <a href="
      {{ site.github_url }}/tree/master/{{ child.sourceFile.path }}#L{{ child.sourceFile.line}}"
      rel="external"><code>{{ child.sourceFile.name }}</code></a>, line {{ child.sourceFile.line }}
  </cite>
</div>

      {% endunless %}

      {% if child.tags %}
      {% assign tags_array = child.tags | split: ", " | sort %}
      {% include tags_list.html tags=tags_array %}
      {% endif %}

    {% endfor %}
  {% endif %}
{% endfor %}
