.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #0b0c0c;
}
.highlight .err {
  color: #002b36;
  background-color: #dc322f;
}
.highlight .c, .highlight .cd, .highlight .cm, .highlight .c1, .highlight .cs {
  color: #657b83;
}
.highlight .cp {
  color: #900b18;
}
.highlight .nt {
  color: #900b18;
}
.highlight .o, .highlight .ow {
  color: #93a1a1;
}
.highlight .p, .highlight .pi {
  color: #93a1a1;
}
.highlight .gi {
  color: #005ea5;
}
.highlight .gd {
  color: #dc322f;
}
.highlight .gh {
  color: #1E8400;
  background-color: #002b36;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #6c71c4;
}
.highlight .kc {
  color: #cb4b16;
}
.highlight .kt {
  color: #cb4b16;
}
.highlight .kd {
  color: #cb4b16;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #005ea5;
}
.highlight .sr {
  color: #2aa198;
}
.highlight .si {
  color: #d33682;
}
.highlight .se {
  color: #d33682;
}
.highlight .nn {
  color: #900b18;
}
.highlight .nc {
  color: #900b18;
}
.highlight .no {
  color: #900b18;
}
.highlight .na {
  color: #1E8400;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mb, .highlight .mx {
  color: #005ea5;
}
.highlight .ss {
  color: #005ea5;
}

.highlight .language-shell {
  background-color: rgba(0,0,0,0.04);
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.highlighter-rouge {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(0,0,0,0.04);
  border-radius: 3px;
}

.highlighter-rouge:before,
.highlighter-rouge:after,
.highlight .language-shell:before,
.highlight .language-shell:after {
  letter-spacing: -0.2em;
  content: "\00a0";
}
